@keyframes falling {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes showingUp {
    from {
        transform: translateY(10%);
    }
    to {
        transform: translateY(0);
    }
}
